@charset "UTF-8";

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../fonts/NotoSansKR-Thin.eot), url(../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans Light"), local("NotoSans-Light"), url(../fonts/NotoSansKR-Light.eot), url(../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../fonts/NotoSansKR-DemiLight.eot), url(../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../fonts/NotoSansKR-Regular.eot), url(../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../fonts/NotoSansKR-Medium.eot), url(../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 800;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../fonts/NotoSansKR-Bold.eot), url(../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(../fonts/NotoSansKR-Bold.otf) format("opentype");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	line-height: 1.3;
	font-family: "Noto Sans Korean", sans-serif;
}

img {
    border: 0;
    vertical-align: top;
}

ul {
    list-style: none;
}

input,
select,
button {
    vertical-align: middle;
}

label, button {
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
}

.is-popup-open body {
    overflow: hidden;
    height: 100%;
}

.is-hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0,0,0,0);
}

.c-popup {
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 30px;
	height: 100%;
    background-color: rgba(0, 0, 0, .5);
	z-index: 1000;
	-webkit-transition: visibility .3s, opacity .3s;
	-ms-transition: visibility .3s, opacity .3s;
	transition: visibility .3s, opacity .3s;
}
.c-popup.c-popup--active {
	visibility: visible;
	opacity: 1;
}

.c-popup__aligner {
	overflow:hidden;
	position: relative;
	width: 100%;
	max-width: 400px;
	margin: 80px auto 80px auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
}
.c-popup__aligner.c-popup__aligner--line {
	padding-bottom: 20px;
}
.c-popup__aligner.c-popup__aligner--line:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	margin: 4px;
	border: 2px solid #e30061;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.c-popup__aligner.c-popup__aligner--line:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background-color: #e30061;
}
.c-popup__aligner--line .c-popup__close {
	top: 18px;
	right: 18px;
}
.c-popup__close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 23px;
	height: 23px;
	background: url('../images/common/c-popup__close.png') no-repeat;
	background-size: 23px auto;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: transform .2s;
	-ms-transition: transform .2s;
	transition: transform .2s;
	text-indent: -9999px;
	z-index: 30;
}
.c-popup__close:focus,
.c-popup__close:hover {
	transform: rotate(-90deg);
}
.c-popup__box {
	position: relative;
	padding: 25px;
	font-size: 0;
	text-align: center;
	z-index: 20;
}
.c-popup__box.c-popup__box--large {
	padding: 60px 40px 40px 40px;
}
.c-popup__box.c-popup__box--small {
	padding: 20px 20px 5px 20px;
}
.c-popup__heading {
	font-size: 25px;
	font-weight: 200;
	letter-spacing: -.5px;
}
.c-popup__heading2 {
	font-size: 17px;
	color: #464646;
	font-weight: 300;
	letter-spacing: -.5px;
}
.c-popup__end {
	color: #464646;
	font-size: 18px;
	font-weight: 400;
}
.c-popup__image {
	text-align: center;
}
.c-popup__image img {
	max-width: 187px;
}
.c-popup__txt {
	display: inline-block;
	position: relative;
	padding: 0 30px;
	color: #464646;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: -.5px;
}
.c-popup__txt:before {
	content: " ";
	display: block;
	position: absolute;
	top:  50%;
	left: 0;
	width: 19px;
	height: 17px;
	background: url('../images/common/c-popup__txt--left.png') no-repeat;
	background-size: 19px auto;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-popup__txt:after {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	width: 19px;
	height: 17px;
	background: url('../images/common/c-popup__txt--right.png') no-repeat;
	background-size: 19px auto;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-popup__txt.c-popup__txt--small {
	margin-top: 0;
	margin: 15px 0;
}
.c-popup__txt.c-popup__txt--middle,
.c-popup__txt.c-popup__txt--middle .c-em {
	font-size: 19px;
    font-weight: 700;
    letter-spacing: -1px;
}
.c-popup__txt.c-popup__txt--large {
	padding: 0 30px;
}
.c-popup__txt.c-popup__txt--large,
.c-popup__txt.c-popup__txt--large .c-em {
	font-size: 28px;
}
.c-popup__txt-2 {
	color: #464646;
	font-size: 13px;
	font-weight: 300;
	letter-spacing: .5px;
}
.c-popup__txt .c-em {
	font-size: 22px;
	font-weight: 400;
}
.agree__txt-1 {
	color: #000;
	font-size: 13px;
	text-align: left;
	font-weight: 300;
}
.agree__txt-2 {
	color: #666;
	font-size: 12px;
	text-align: left;
	font-weight: 300;
}
.agree__item {
	color: #666;
	font-size: 13px;
	text-align: left;
	font-weight: 300;
}
.agree__item + .agree__item {
	margin-top: 5px;
}
.c-popup__buttons {
	font-size: 0;
	text-align: center;
}
.c-popup__buttons--large .c-popup__button {
	width: 73px;
	height: 85px;
	padding: 0 8px 22px 0;
	font-size: 14px;
	background: url('../images/common/c-popup__button--large.png') no-repeat;
	background-size: 73px auto;
}
.c-popup__button {
	display: inline-block;
	width: 82px;
	height: 95px;
	margin-top: 0;
	padding: 0 6px 24px 0;
	border: 0;
	background: url('../images/common/c-popup__button.png') no-repeat;
	background-size: 82px auto;
	color: #e30061;
	font-size: 16px;
	text-align: center;
	outline:none;
	-webkit-transition: margin-top .2s;
	-ms-transition: margin-top .2s;
	transition: margin-top .2s;
}
.c-popup__button + .c-popup__button {
	margin-left: 10px;
}
.c-popup__forms {
	border: 1px solid #6c6c6c;
	width: 300px;
	margin: 0 auto;
	-webkit-transition: width .2s;
	-ms-transition: width .2s;
	transition: width .2s;
}
.c-popup__form {
	table-layout: fixed;
	border-collapse: collapse; 
	border-spacing: 0;
	display: table;
	width: 100%;
}
.c-popup__form + .c-popup__form .c-popup__key {
	border-top: 1px solid #fff;
}
.c-popup__form + .c-popup__form .c-popup__value {
	border-top: 1px solid #6c6c6c;
}
.c-popup__key {
	display: table-cell;
	width: 70px;
	height: 30px;
	background-color: #7d797a;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.c-popup__key .c-popup__label {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}
.c-popup__value {
	position: relative;
	width: 100%;
	padding: 0 10px;
	height: 30px;
	display: table-cell;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.c-popup__input {
	border: 0;
	width: 100%;
	height: 100%;
	font-size: 14px;
	outline: none;
}

.c-search__button {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../images/common/c-search__button.png') 97% center no-repeat;
	background-size: 16px auto;
}

.c-popup__noti {
	padding: 5px 0;
	color: #464646;
	font-size: 12px;
	font-weight: 300;
}
.c-popup__noti-2 {
	color: #585858;
	font-size: 11px;
	font-weight: 300;
	letter-spacing: -.5px;
}

.c-agrees {	
	width: 300px;
	margin: 0 auto;
}
.c-agree {
	table-layout: fixed;
	border-collapse: collapse; 
	border-spacing: 0;
	display: table;
	width: 100%;
}
.c-agree + .c-agree {
	margin-top: 3px;
}
.c-agree__key {
	display: table-cell;
	width: 150px;
	color: #717171;
	font-size: 10px;
	text-align: left;
	font-weight: 300;
	letter-spacing: -.75px;
	vertical-align: top;
}
.c-agree__value {
	display: table-cell;
	text-align: left;
	vertical-align: top;
}
.c-agree__checks {
	position: relative;
	min-height: 17px;
	padding: 2px 0;
}
.c-agree__label {
	width: 100%;
	padding-left: 20px;
	color: #717171;
	font-size: 10px;
	font-weight: 300;
	letter-spacing: -.75px;
}
.c-agree__label:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 17px;
	background: url('../images/common/c-agree__check.png') left center no-repeat;
	background-size: 18px auto;
}
.c-agree__check {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.c-agree__check:checked + label:before {
	background: url('../images/common/c-agree__check--active.png') right center no-repeat;
	background-size: 18px auto;
}

.wrap {
	min-width: 320px;
	overflow: hidden;
}
.c-em {
	font-style: normal;
	color: #ff0063;
}
.c-section + .c-section.c-section--large {
	margin-top: 30px;
}
.c-section + .c-section.c-section--s-large {
	margin-top: 20px;
}
.c-section + .c-section {
	margin-top: 15px;
}
.c-section + .c-section.c-section--middle {
	margin-top: 10px;
}
.c-section + .c-section.c-section--small {
	margin-top: 5px;
}

.c-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 10;
	-webkit-transition: background .2s;
	-ms-transition: background .2s;
	transition: background .2s;
}
.c-header.c-header--scroll {
	background: #e3e3e3;
}
.c-header.c-header--active {
	overflow-y: auto;
	position: fixed;	
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}
.c-header--active .c-drawer {
	top: 0;
}
.c-header--active .c-h1__logo {
	opacity: 0;
}
.c-header__aligner {
	position: relative;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 20px;
	z-index: 20;
}
.c-h1__logo {
	opacity: 1;
	display: block;
	max-width: 77px;
	padding: 17px 0;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
.c-h1__logo img {
	display: block;
	max-width: 100%
}
.c-drawer__trigger {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 66px;
	height: 50px;
	text-indent: -9999px;
	overflow: hidden;
	z-index: 20;
}
.c-drawer__burger {
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-top: -1px;
    text-indent: -9999px;
	background-color: #e30061;
}
.c-drawer__burger--top {
    -webkit-transform: matrix(1, 0, 0, 1, -12, -5);
    -ms-transform: matrix(1, 0, 0, 1, -12, -5);
    transform: matrix(1, 0, 0, 1, -12, -5);
}
.c-drawer__burger--middle {
    -webkit-transform: matrix(1, 0, 0, 1, -12, 0);
    -ms-transform: matrix(1, 0, 0, 1, -12, 0);
    transform: matrix(1, 0, 0, 1, -12, 0);
}
.c-drawer__burger--bottom {
    -webkit-transform: matrix(1, 0, 0, 1, -12, 5);
    -ms-transform: matrix(1, 0, 0, 1, -12, 5);
    transform: matrix(1, 0, 0, 1, -12, 5);
}
.c-drawer {
	overflow: hidden;
	position: absolute;
	top: -310px;
	left: 0;
	width: 100%;
	background: url('../images/common/c-drawer.png') no-repeat;
	background-size: cover;
	-webkit-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all .4s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: 10;
}
.c-drawer__aligner {
	position: relative;
	padding: 80px 0 55px 0;
}
.c-event {
	display: block;
	position: relative;
	width: 205px;
	height: 41px;
	margin: 0 auto;
	padding-left: 63px;
	border: 0;
	color: #fefefe;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: -.75px;
}
.c-event.c-event--1 {
	background: url('../images/common/c-event-1.png') no-repeat;
	background-size: 205px auto;
	text-align: left;
}
.c-event.c-event--2 {
	background: url('../images/common/c-event-2.png') no-repeat;
	background-size: 205px auto;
}
.c-event + .c-event {
	margin-top: 18px;
}
.c-event span {
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -2px;
	color: #eebad5;
	font-size: 10px;
	font-weight: 700;
	 -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.c-sns {
	height: 45px;
	margin-top: 30px;
	font-size: 0;
	text-align: center;
}
.c-sns__button {
	display: inline-block;
	border: 0;
	width: 35px;
	height: 35px;
	font-size: 0;
	text-indent: -9999px;
	vertical-align: top;
}
.c-sns__button.c-sns__button--facebook {
	background: url('../images/common/c-sns__button--facebook.png') no-repeat;
	background-size: 35px auto;
}
.c-sns__button.c-sns__button--kakao {
	background: url('../images/common/c-sns__button--kakao.png') no-repeat;
	background-size: 35px auto;
}
.c-sns__button + .c-sns__button {
	margin-left: 15px;
}

.c-content--sub {
	position: relative;
	padding: 50px 10px 20px 10px;
	background: url('../images/pages/c-sub.png') no-repeat 35% bottom, linear-gradient(to top, #e3e3e3, #fbfbfb,#e3e3e3);
	z-index: 5;
}


.c-footer {
	padding: 15px 0;
	background-color: #e30061;
}
.c-footer__aligner {
	text-align: center;
	color: #fff;
}
.c-footer__list {
	max-width: 640px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
}
.c-footer__list > li {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 13px;
}
.c-footer__list > li + li {
	padding-left: 10px;
	margin-left: 8px;
}
.c-footer__list > li + li:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 13px;
	background-color: #fff;
	 -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-footer__list > li:nth-child(4),
.c-footer__list > li:nth-child(6) {
	padding: 0;
	margin-left: 0;
}
.c-footer__list > li:nth-child(4):before,
.c-footer__list > li:nth-child(6):before {
	display: none;
}
.c-footer__list > li > a {
	display: block;
	color: #fff;
	font-size: 13px;
}
.copyright {
	margin-top: 10px;
	color: #fff;
	font-size: 12px;
}

@media ( max-width: 600px ){
	.c-footer__aligner {
		padding: 0 10px;
	}
	.c-footer__list + .c-footer__list {
		margin-top: 15px;
	}
	.c-footer__list.c-footer__list--none > li {
		display: block;
		width: 100%;
		font-size: 12px;
		text-align: left;
		font-weight: 300;
	}
	.c-footer__list.c-footer__list--none > li + li:before {
		display: none;
	}
	.c-footer__list.c-footer__list--none > li + li {
		margin-top: 2px;
		margin-left: 0;
		padding-left: 0;
	}
	.copyright {
		text-align: left;
	}
	
	.c-popup {
		padding: 0 10px;
	}
	.c-popup__aligner {
		margin: 60px auto 60px auto;
	}
	.c-popup__box {
		padding: 20px 10px;
	}
	.c-popup__heading {
		font-size: 23px;
	}
	.c-popup__heading2 {
		font-size: 15px;
	}
	.c-popup__txt {
		padding: 0 25px;
		font-size: 14px;
	}
	.c-popup__txt .c-em {
		font-size: 20px;
	}
	.c-popup__button {
		font-size: 14px;
	}
	
	.c-popup__forms {
		width: 220px;
	}
	.c-popup__key {
		width: 59px;
		height: 21px;
		font-size: 12px;
	}
	.c-popup__key .c-popup__label {
		font-size: 12px;
	}
	.c-popup__value {
		height: 21px;
		padding: 0 5px;
	}
	.c-popup__input {
		font-size: 12px;
	}
	.c-popup__end {
		font-size: 16px;
	}
	
	.c-agrees {
		width: 100%;
	}
	.c-agree__key {
		display: block;
		width: 100%;
		text-align: center;
		font-weight: 400;
	}
	.c-agree__value {
		display: inline-block;
		font-weight: 400;
	}
	.c-agree {
		text-align: center;
	}
	.c-agree + .c-agree {
		margin-top: 10px;
	}
	.c-popup__noti {
		font-size: 10px;
		font-weight: 400;
	}

}