@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 100;
	src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../../fonts/NotoSansKR-Thin.eot), url(../../fonts/NotoSansKR-Thin.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Thin.woff) format("woff"), url(../../fonts/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 300;
	src: local("Noto Sans Light"), local("NotoSans-Light"), url(../../fonts/NotoSansKR-Light.eot), url(../../fonts/NotoSansKR-Light.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Light.woff) format("woff"), url(../../fonts/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 400;
	src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../../fonts/NotoSansKR-DemiLight.eot), url(../../fonts/NotoSansKR-DemiLight.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-DemiLight.woff) format("woff"), url(../../fonts/NotoSansKR-DemiLight.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 500;
	src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../../fonts/NotoSansKR-Regular.eot), url(../../fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Regular.woff) format("woff"), url(../../fonts/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 700;
	src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../../fonts/NotoSansKR-Medium.eot), url(../../fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Medium.woff) format("woff"), url(../../fonts/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
	font-family: 'Noto Sans Korean';
	font-style: normal;
	font-weight: 800;
	src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../../fonts/NotoSansKR-Bold.eot), url(../../fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/NotoSansKR-Bold.woff) format("woff"), url(../../fonts/NotoSansKR-Bold.otf) format("opentype");
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.3;
	font-family: "Noto Sans Korean", sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	line-height: 1.2;
	color: #333333;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
img {
	width: 100%;
	max-width: 100%;
}
input[type="text"],
input[type="tel"],
button {
	font-family: "Noto Sans Korean", sans-serif;
}
button {
	cursor: pointer;
	outline: 0;
}
input[type="checkbox"] {
	position: absolute;
/*
	top: 2px;
	right: 5px;
*/
	font-size: 0;
	cursor: pointer;
	background: none;
	border: 0;
	z-index: 3;
	width: 13px;
	height: 13px;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: none;
}
input[type="checkbox"]:focus {
	outline: 0;
	background: none;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 98;
}
.is-scrolled #header {
	background: rgba(255, 255, 255, 0.3);
}
#header .inner {
	position: relative;
	margin: 0 auto;
}
#header .logo {
	position: absolute;
	top: 17px;
	left: 20px;
	width: 76px;
}
#header .burger {
	float: right;
	padding: 17px 20px;
}
#header .burger span.line {
	width: 25px;
	height: 2px;
	background: #5573a3;
	display: block;
}
#header .burger span.line.mid {
	margin: 3px 0;
}
.menu-opened #menu-layer {
	display: block;
	opacity: 1;
	visibility: visible;
}
#menu-layer {
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
}
#menu-layer .black-area {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	z-index: 1;
}
#menu-layer .inner {
	position: relative;
	padding: 81px 0 60px;
	background: #4374a6;
	z-index: 2;
	transform: translateY(-100%);
	opacity: 0;
}
.menu-opened #menu-layer .inner {
	transform: translateY(0);
	opacity: 1;
	transition: all 0.4s ease 0.12s;
}
#menu-layer .btn-close {
	position: absolute;
/*
	top: 17px;
	right: 17px;
*/
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	padding: 17px;
	z-index: 100;
	box-sizing: content-box;
}
#menu-layer .btn-close span.line {
	position: absolute;
	display: block;
	width: 25px;
	height: 2px;
	background: #ffffff;
}
#menu-layer .btn-close span.line._1 {
	transform: rotate(45deg);
}
#menu-layer .btn-close span.line._2 {
	transform: rotate(-45deg);
}
#menu-layer .inner ul li {
	text-align: center;
	margin-bottom: 17px;
}
#menu-layer .inner ul li:last-child {
	margin-bottom: 0;
}
#menu-layer .inner ul li a {
	display: inline-block;
	padding: 5px;
	color: #ffffff;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 800;
}
#menu-layer .inner .share-list {
	text-align: center;
	margin-top: 50px;
}
#menu-layer .inner .share-list button {
	width: 35px
}
#menu-layer .inner .share-list button:first-child {
	margin-right: 24px;
}

#footer {
/*	position: fixed;*/
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 8px 0;
	background: rgba(255, 255 ,255 ,0.3);
	text-align: center;
	z-index: 98;
}
#footer ul {
	display: block;
	font-size: 0;
}
#footer ul li {
	display: inline-block;
	position: relative;
	font-size: 10px;
	letter-spacing: -0.75px;
	margin-right: 8px;
	font-weight: 300;
	color: #686868;
}
#footer ul li:last-child {
	margin-right: 0;
}
#footer ul li:last-child:after {
	content: none;
}
#footer ul:first-child li {
	font-weight: 500;
}
#footer ul li:after {
	content: "|";
	display: inline-block;
	position: absolute;
	top: 0px;
	right: -5px;
}
#footer ul li:last-child:after {
	content: none;
}
#footer p {
	margin-top: 2px;
	font-size: 10px;
	color: #686868;
}
.content.main {
	position: relative;
/*	height: 100vh;*/
	background: url(../images/main_bg.png);
	background-position: 50% 100%;
	background-size: cover;
	background-repeat: no-repeat;
/*	background: url(../images/main_bg.png) 50% / cover no-repeat;*/
}
.content.sub {
	position: relative;
/*	height: 100vh;*/
	background: url(../images/main_bg.png);
	background-position: 50% 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.content > .wrapper {
	text-align: center;
	font-size: 0;
	height: 100%;
}
.content .wrapper .balls {
	position: absolute;
/*	top: 11.4%;*/
	top: 0;
	left: 0;
	right: 0;
/*	width: 76%;*/
	width: 100%;
/*	height: 63.5%;*/
	height: 89.6%;
	background: url(../images/main_balls.png) center 0 / cover no-repeat;
	z-index: 4;
	pointer-events: none;
}
.content > .wrapper .visual-wrap {
	position: relative;
	display: inline-block;
}
.content.main > .wrapper .visual-wrap {
	width: 100%;
	margin-top: 19.2%;
}
.content.main .visual-wrap svg {
	position: absolute;
	top: 0;
	left: 3%;
	width: 94%;
}
.content.main .visual-wrap svg#svg-shape1 {
	position: static;
}
.content.main .visual-wrap .title,
.content.main .visual-wrap .people {
	position: absolute;
	will-change: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.content.main .visual-wrap .back {
/*	top: 56px;*/
/*	top: 28px;*/
	top: 1.1%;
/*	left: 50%;*/
	margin-left: 1.8%;
	width: 52.5%;
	z-index: 1;
}
.content.main .visual-wrap .people {
	top: 12.4%;
	margin-left: 7.4%;
	z-index: 2;
	width: 83.7%;
}
.content.main .visual-wrap .front {
/*	top: 40%;*/
	top: 35%;
	width: 54.6%;
	margin-left: 46%;
	z-index: 3;
}
.content.main .visual-wrap .text-group {
	position: absolute;
	top: 21.4%;
	margin-left: 62.2%;
	z-index: 4;
}
.content.main .visual-wrap .text-group p {
	font-size: 10px;
	font-weight: 300;
	color: #4374a6;
	text-align: left;
	/* line-height: 8px; */
	line-height: 10px;
	margin-top: 5px;
	word-break: keep-all;
	letter-spacing: -0.5px;
}
.content.main .visual-wrap .text-group p:first-child {
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 6px;
	line-height: 1;
}
.content.main .btn-group {
/*	position: absolute;*/
	position: relative;
	margin: 0 0 15% 13%;
/*	top: 100%;*/
	width: 45.2%;
	z-index: 10;
}
.content.main .btn-group button {
	display: block;
	width: 100%;
	padding-bottom: 23.3%;
	border-radius: 20px;
	font-size: 16px;
	letter-spacing: -0.25px;
	font-weight: 500;
	color: #ffffff;
	background-color: #84bce9;
	position: relative;
}
.content.main .btn-group button span {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content.main .btn-group button:last-child {
	background-color: #4374a6;
	margin-top: 14px;
}
.content.main .visual-wrap .share-group {
	position: absolute;
	bottom: 0;
	left: -123px;
}
.content.main .visual-wrap .share-group button:first-child {
	margin-right: 13px;
}
.content.sub > .wrapper {
/*
	display: table;
	table-layout: fixed;
*/
	width: 100%;
	height: 100%;
	padding-top: 76px;
/*	overflow: hidden;*/
/*	background: url(../images/sub_svgline_bg.png) 100% 0 / cover no-repeat;*/
	background: url(../images/sub_svgline_bg.png) 100% 50% / cover no-repeat;
}
.content.sub .balls {
	background: url(../images/sub_balls.png) 0 0 / cover no-repeat;
}
.content.sub > .wrapper .visual-wrap {
	width: 100%;
/*	display: table-cell;*/
/*	vertical-align: middle;*/
}
.content.sub > .wrapper .visual-wrap .title-group {
	margin-bottom: 9.8%;
}
.content.game > .wrapper .visual-wrap .title-group .object {
	width: 29px;
	margin: 0 auto 12px;
}
.content.sub > .wrapper .visual-wrap .title-group .text {
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.25px;
	color: #333333;
}
.content.sub > .wrapper .visual-wrap .title-group .text b {
	font-weight: 800;
	color: #4374a6;
}
.content.sub #footer {
/*	position: fixed;*/
	margin-top: 41px;
}
.content.game > .wrapper {
/*	padding-bottom: 60px;*/
}
.content.game .visual-wrap .game-container {
	font-size: 0;
	position: relative;
	padding: 0 32px;
	z-index: 4;
}
.content.game .game-container .guide-obj {
/*	display: none;*/
	transition: all 0.3s ease;
}
.content.game .pre-layer {
/*	display: none;*/
	position: fixed;
/*	top: 46px;*/
	top: 0;
	left: 0;
	right: 0;
/*	bottom: 109px;*/
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
	/*	height: calc(100% - 253px);*/
	transition: all 0.3s ease;
}
.game.started .pre-layer {
	visibility: hidden;
	opacity: 0;
}
.game.started .game-container .guide-obj {
	visibility: hidden;
	opacity: 0;
}
.content.game .visual-wrap .game-container .guide-text {
	position: absolute;
	top: 33px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 100;
}
.content.game .visual-wrap .game-container .start-btn {
	display: block;
	width: 98px;
	height: 25px;
	margin: 23px auto 0;
	font-size: 15px;
	font-weight: 700;
	background: #95bbe7;
	border-radius: 23px;
	color: #ffffff;
}
.content.game .visual-wrap .game-container .guide-text .text {
	font-size: 15px;
	font-weight: 300;
	letter-spacing: -0.25px;
	color: #ffffff;
}
.content.game .visual-wrap .game-container .guide-line {
	position: absolute;
	bottom: 88px;
	left: 25%;
	z-index: 101;
	width: 191px;
}
.content.game .visual-wrap .game-container .frame {
	display: block;
	position: relative;
	background: #ffffff;
	border-radius: 10px;
	overflow: hidden;
}
.content.game .visual-wrap .game-container .frame .timer {
	position: absolute;
	left: 9px;
	top: 9px;
	width: 57px;
	height: 57px;
}
.content.game .visual-wrap .game-container .frame .timer .bg {
	background: url(../images/game_timer.png) center / cover no-repeat;
	height: 100%;
}
.content.game .visual-wrap .game-container .frame .timer #count {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.content.game .visual-wrap .game-container .frame .timer #count img {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 36px;
}
.content.game .visual-wrap .game-container .frame > .bg img {
	width: 100%;
}
.content.game .visual-wrap .game-container .frame .hand {
	position: absolute;
	bottom: -36%;
	left: 0;
	width: 63%;
	z-index: 100;
}
.content.game.body-selected .visual-wrap .game-container .frame .hand {
	bottom: -30%;
	left: 29%;
	width: 39.4%;
}
.content.game.body-selected .visual-wrap .game-container .guide-line {
	left: 21%;
}
.content.game.body-selected .visual-wrap .game-container .frame .hand {
	width: 39.4%;
}
.content.game .visual-wrap .game-container .gage-wrap {
	display: block;
	position: relative;
	padding: 0 4px;
	height: 25px;
	margin-bottom: 14px;
	vertical-align: bottom;
}
.content.game .visual-wrap .game-container .gage-wrap .msg-box {
	position: absolute;
	top: -31px;
	left: -7px;
	width: 93px;
	height: 31px;
	background: url(../images/game_gage_msg_bg.png) 0 0 / 93px 31px no-repeat;
}
.content.game .visual-wrap .game-container .gage-wrap .msg-box span {
	display: block;
	padding-top: 7px;
	width: 100%;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	color: #ffffff;
}
.content.game .visual-wrap .game-container .gage-wrap .msg-box span:first-child {
	margin-bottom: 3px;
}
.content.game .visual-wrap .game-container .gage-wrap .inner {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 5px 54px 5px 6px;
	background: rgba(255, 255, 255, 0.68);
	border-radius: 10px;
}
.content.game .visual-wrap .game-container .gage-wrap .inner .gage-bg {
	position: relative;
	width: 100%;
	height: 100%;
	background: #f8f8f8;
	-webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
	border-radius: 8px;
	overflow: hidden;
}
.content.game .visual-wrap .game-container .gage-wrap .inner .gage {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 0;
	background: #84bce9;
	border-radius: 10px;
	-webkit-transition: height 0.07s ease-in-out;
	transition: height 0.07s ease-in-out;
}
.content.game .visual-wrap .game-container .gage-wrap .inner .percent {
	position: absolute;
	top: 50%;
	right: 4px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 0;
}
.content.game .visual-wrap .game-container .gage-wrap .inner .percent span {
	display: inline-block;
	font-size: 10px;
	font-weight: 800;
	color: #797979;
	line-height: 1;
	margin-right: 2px;
}
.content.game .visual-wrap .game-container .gage-wrap .inner .percent .num {
	font-size: 17px;
	color: #4374a6;
}
.content.sub {
/*	overflow: hidden;*/
}
.content.sub .svg-wrapper {
	position: absolute;
	width: 100%;
	height: auto;
}
/*
.content.sub .svg-wrapper.pink { left: -150px; left: -7.8%; bottom: -200px; bottom: -5.5%; }
.content.sub .svg-wrapper.blue { left: -100px; left: -5.2%; bottom: -180px; bottom: -2.8%; }
*/

.content.gate #footer {
/*	position: fixed;*/
}
.content.gate > .wrapper {
	padding-bottom: 60px;
}
.content.gate > .wrapper .visual-wrap .title-group {
	margin-bottom: 30px;
}
.content.gate > .wrapper .visual-wrap .title-group .object {
	width: 33px;
	margin: 0 auto 14px;
}
.content.gate > .wrapper .visual-wrap .title-group span {
	display: block;
	font-size: 12px;
	color: #333333;
	margin-top: 8px;
}
.content.gate > .wrapper .visual-wrap .btn-group {
	position: relative;
	text-align: center;
	font-size: 0;
	z-index: 5;
}
.content.gate > .wrapper .visual-wrap .btn-group .btn {
	display: inline-block;
	width: 43.6%;
	margin-right: 2px;
}
.content.gate > .wrapper .visual-wrap .btn-group .btn:last-child {
	margin-right: 0;
}

.content.find {
/*	background: url(../images/find_texture_bg.png) center / cover no-repeat !important;*/
/*	background: url(../images/find_ball_bg.png), url(../images/find_colorline_bg.png), url(../images/find_texture_bg.png);*/
/*	background-size: 88.4% auto, cover, cover;*/
/*	background-position: 43% 128px, 50% 128px, 50% 0;*/
/*	background-repeat: no-repeat;*/
	overflow: scroll !important;
}
.content.find > .wrapper {
	padding-top: 0;
}


.content.find .scroll-content .title-group {
	margin: 0 0 39px;
	text-align: center;
}
.content.find .scroll-content .title-group .object {
	margin-bottom: 18px;
}
.content.find .scroll-content .title-group .text h3 {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 24px;
}
.content.find .scroll-content .title-group .text h3 b {
	color: #4374a6;
	font-weight: 800;
}
.content.find .scroll-content .title-group .text p {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 5px;
}
.content.find .scroll-content .title-group .text span {
	font-size: 18px;
	font-weight: 500;
}
.content.find .scroll-content .checklist {
	position: relative;
	width: 909px;
	height: 1713px;
	margin: 0 auto;
	background: url(../images/find_checklist_bg.png) 0 0 / 909px 1713px no-repeat;
}
.content.find .scroll-content .checklist button {
	position: absolute;
	left: 508px;
	cursor: pointer;
}
.content.find .scroll-content .checklist button.season {top:518px;}
.content.find .scroll-content .checklist button.chronic {top:996px;}
.content.find .scroll-content .checklist button.problem {top:1477px;}

.content.find #footer {
	margin-top: 41px;
	position: static !important;
}




/*popup*/
html.menu-opened,
html.popup-opened {
	overflow: hidden;
}
.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: 2000; */
	z-index: 99;
	overflow-y: scroll;
	overflow-x: auto;
	font-size: 0;
	/*	line-height: 0;*/
	opacity: 0;
	text-align: center;
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: opacity 0.1s ease;
	transition: opacity 0.1s ease;
}
.popup-wrap, .popup {
	display: none;
}
.popup-wrap.is-opened {
	display: block;
	opacity: 1;
}
.popup-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.popup-wrap .popup {
	display: inline-block;
}
.popup {
	position: relative;
	width: 91.7%;
	border-radius: 5px;
	padding: 7px;
	background: #4374a6;
	vertical-align: middle;
	/*	line-height: 100%;*/
	white-space: normal;
	word-break: keep-all;
	word-wrap: break-word;
	text-align: left;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.popup .popup-close {
	position: absolute;
	top: 13px;
	right: 13px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: url(../images/popup_close.png) 0 0 / cover no-repeat;
}
.popup .inner {
	background: #ffffff;
	border-radius: 5px;
}
.popup .inner .title-block {
	text-align: center;
}
.popup-wrap.is-opened .popup {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.popup.pt-pass > .inner {
	padding: 30px 0 37px;
	background: url(../images/popup_pt_inner_bg.png) center / cover no-repeat;
}
.popup.pt-pass._2 > .inner {
	background: url(../images/popup_pt_inner_bg.png) center 300px / cover no-repeat #ffffff;
}
.popup.pt-pass .title-block {
	margin-bottom: 15px;
}
.popup.pt-pass .title-block img {
	width: 25px;
}
.popup.pt-pass .title-block h5 {
	margin: 8px 0 6px;
	font-size: 15px;
	font-weight: 800;
	color: #333333;
}
.popup.pt-pass .title-block p {
	font-size: 10px;
	font-weight: 500;
}
.popup.pt-pass .tab-block {
	width: 250px;
	position: relative;
	margin: 11px auto;
	overflow: hidden;
}
.popup.pt-pass .tab-block .tab-wrapper {
	font-size: 0;
}
.popup.pt-pass .tab-block .tab-wrapper .tab {
	width: 33.3%;
	display: inline-block;
	text-align: center;
}
.popup.pt-pass .tab-block .tab-wrapper .tab:last-child {
	width: 33.4%;
}
.popup.pt-pass .tab-block .tab-wrapper .tab.light {background: #84b1e0;}
.popup.pt-pass .tab-block .tab-wrapper .tab.medium {background: #5e94cb;}
.popup.pt-pass .tab-block .tab-wrapper .tab.heavy {background: #4374a6;}

.popup.pt-pass .tab-block .tab-wrapper.init-state .tab {
	padding: 81px 0;
	font-size: 0;
	cursor: pointer;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .gage {
	display: inline-block;
	margin-bottom: 15px;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .gage span {
	display: block;
	width: 11px;
	height: 2px;
	margin-bottom: 2px;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.2);
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .gage span.bg {
	background: rgba(255, 255, 255, 1);
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .gage span:last-child {
	margin-bottom: 0;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .text {
	color: #ffffff;
	margin-bottom: 19px;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .text p {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 3px;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .text span {
	font-size: 10px;
	font-weight: 400;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .view {
	position: relative;
	display: inline-block;
	font-size: 10px;
	font-weight: 300;
	color: #ffffff;
}
.popup.pt-pass .tab-block .tab-wrapper.init-state .tab .view:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: -6px;
	left: 0;
	background: #ffffff;
}
.popup.pt-pass .content-opened {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
/*	height: 225px;*/
	height: 100%;
}
.popup.pt-pass .content-opened .tab-wrapper .tab {
	height: 25px;
	position: relative;
	cursor: pointer;
}
.popup.pt-pass .content-opened .tab-wrapper .tab span {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 11px;
	font-weight: 700;
	color: #ffffff;
}
.popup.pt-pass .tab-block .tab-contents {
	position: absolute;
	left: 0;
	top: 25px;
	width: 100%;
	height: 253px;
}
.popup.pt-pass .tab-block .content {
	position: absolute;
	display: none;
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 15px 20px 25px;
}
.popup.pt-pass .tab-block .content.light {background: #84b1e0;}
.popup.pt-pass .tab-block .content.medium {background: #5e94cb;}
.popup.pt-pass .tab-block .content.heavy {background: #4374a6;}

.popup.pt-pass .check-block {
	width: 250px;
	margin: 0 auto;
	font-size: 0;
}
.popup.pt-pass .check-block .check-wrapper .check {
	display: inline-block;
	width: 33.3%;
	cursor: pointer;
}
.popup.pt-pass .check-block .check-wrapper .check:last-child {
	width: 33.4%;
}
.popup.pt-pass .check-block .check-wrapper .check .checkbox {
	width: 12px;
	height: 12px;
	margin: 0 auto;
	background: #ebebeb;
	border: 1px solid #b7b7b7;
	border-radius: 50%;
}
.popup.pt-pass .check-block .check-wrapper .check.is-checked .checkbox {
	background: #c93e8b;
	border: 1px solid #c93e8b;
}
.popup.pt-pass .check-guide-msg {
	text-align: center;
	margin-bottom: 23px;
	font-size: 10px;
	font-weight: 300;
}
.popup.pt-pass .input-block {
	padding: 0 43px;
	/* margin: 29px auto 28px; */
	margin: 29px auto 16px;
}
.popup.pt-pass .input-block .input-group {
	font-size: 0;
	margin-bottom: 5px;
	position: relative;
}
.popup.pt-pass .input-block .input-group:last-child {
	margin-bottom: 0;
}
.popup.pt-pass .input-block .input-group .guide {
	width: 47px;
	height: 23px;
	line-height: 23px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}
.popup.pt-pass .input-block .input-group .guide span {
	font-size: 11px;
	font-weight: 300;	
	vertical-align: middle;
}
.popup.pt-pass .input-block .input-group .input {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-left: 47px;
	vertical-align: middle;
}
.popup.pt-pass .input-block .input-group .input input[type="text"],
.popup.pt-pass .input-block .input-group .input input[type="tel"] {
	background: #f8f8f8;
	height: 23px;
	width: 100%;
	vertical-align: middle;
	padding-left: 10px;
}
.popup.pt-pass .input-block .input-group.n3 .input input[type="text"],
.popup.pt-pass .input-block .input-group.n3 .input input[type="tel"] {
	width: 30%;
}
.popup.pt-pass .input-block .input-group.n3 .input span {
	display: inline-block;
	width: 5%;
	font-size: 11px;
	font-weight: 300;
	vertical-align: middle;
	text-align: center;
}
.popup.pt-pass .input-block .input-group .input .search {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 13px;
	height: 13px;
	background: url(../images/input_search.png) 0 0 / cover no-repeat;
}
.popup.pt-pass .input-guide-msg {
	position: relative;
	/* width: 100%; */
	/* margin: 0 0 30px 90px; */
	/* padding-left: 5px; */
	font-size: 10px;
	color: #464646;
	letter-spacing: -0.75px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}
/* .popup.pt-pass .input-guide-msg:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 2px;
	height: 100%;
	background: #5573a3;
} */
.popup.pt-pass .terms-block {
	padding-left: 90px;
	/* margin: 0 auto 52px; */
	margin: 0 auto 14px;
}
.popup.pt-pass .terms-block .terms-group {
	display: inline-block;
	margin-bottom: 12px;
}
.popup.pt-pass .terms-block .terms-group .view-terms {
	display: block;
	position: relative;
/*	width: 185px;*/
	cursor: pointer;
	font-size: 11px;
	font-weight: 700;
	color: #717171;
	padding-left: 5px;
	margin-bottom: 3px;
}
.popup.pt-pass .terms-block .terms-group .view-terms img {
	margin: 2px 0 0 2px;
	width: 8px;
}
.popup.pt-pass .terms-block .terms-group .check {
	padding-left: 21px;
	position: relative;
}
.popup.pt-pass .terms-block .terms-group .check label {
	display: inline-block;
	cursor: pointer;
	font-size: 10px;
	font-weight: 400;
	color: #717171;
}
.popup.pt-pass .terms-block .terms-group .check input[type="checkbox"] {
	top: 1px;
	left: 5px;
	width: 1px;
	height: 1px;
	margin: -1px;
	visibility: hidden;
}
.popup.pt-pass .terms-block .terms-group .check label.check-target {
	position: absolute;
	top: 1px;
	left: 5px;
	width: 12px;
	height: 12px;
	z-index: 3;
	cursor: pointer;
}
.popup.pt-pass .terms-block .terms-group .check .checkbox {
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 5px;
	width: 12px;
	height: 12px;
	background: #ffffff;
	border: 1px solid #b9b9b9;
	z-index: 1;
	overflow: visible;
}
.popup.pt-pass .terms-block .terms-group .check input[type="checkbox"]:checked + span:before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0px;
	width: 12px;
	height: 10px;
	background: url(../images/checked.png) 0 0 / cover no-repeat;
}
.popup.pt-pass .terms-block .terms-group .check input[type="checkbox"]:checked {
	background: none;
}
.popup.pt-pass .btn-result {
	display: block;
	width: 127px;
	height: 29px;
	margin: 0 auto;
	background: #4374a6;
	border-radius: 23px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
}
.popup.pt-result {
/*	width: 535px;*/
}
.popup.pt-result .inner {
	padding: 34px 20px 23px;
	background: url(../images/popup_pt_inner_bg.png) 50% / cover no-repeat;
}
.popup.pt-result .title-block {
	position: relative;
	padding: 0 0 12px 18px;
	text-align: left;
	font-size: 0;
}
.popup.pt-result .title-block img {
	display: inline-block;
	width: 28px;
}
.popup.pt-result .title-block .wrap {
	display: inline-block;
	margin-left: 15px;
	padding-top: 2px;
}
.popup.pt-result .title-block .wrap h5 {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: 800;
	color: #000000;
}
.popup.pt-result .title-block .wrap p {
	font-size: 0;
}
.popup.pt-result .title-block .wrap p span {
	display: inline-block;
	font-size: 10px;
	font-weight: 300;
	color: #353e43;
}
.popup.pt-result .title-block .wrap p span:after {
	content: "/";
	display: inline-block;
	margin: 0 2px;
}
.popup.pt-result .title-block .wrap p span:last-child:after {
	content: none;
}
.popup.pt-result .text-block {
	padding: 0 0 43px 0;
	text-align: center;
}
.popup.pt-result .text-block .your-status {
	font-size: 14px;
	color: #4374a6;
	font-weight: 700;
	margin-bottom: 4px;
}
.popup.pt-result .text-block .your-status b {
	font-size: 17px;
	font-weight: 800;
}
.popup.pt-result .text-block .need {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	background: #ecf1f6;
}
.popup.pt-result .text-block .msg {
	font-size: 10px;
	color: #7c7c7c;
	font-weight: 500;
	margin-top: 9px;
}
.popup.pt-result .img-block {
	text-align: center;
	padding: 27px 0 21px;
	width: 63px;
	margin: 0 auto;
}
.popup.pt-result .caution-block {
	margin-top: 16px;
}
.popup.pt-result .caution-block p {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: -0.75px;
	color: #5b5b5b;
}
.popup.pt-result .caution-block p br {
	display: none;
}
.popup.pt-result .caution-block p.indent {
	padding-left: 5px;
}
.popup.pt-result .custom-border {
	position: relative;
}
.popup.pt-result .custom-border:before {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #2c6392;
}
.popup.pt-result .custom-border:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #2c6392;
}
.popup.terms .inner {
	padding: 55px 0 44px;
	text-align: center;
}
.popup.terms .inner img {
	display: inline-block;
}
.popup.terms._1 img {width: 83.1%;}
.popup.terms._2 img {width: 84.7%;}

.popup.pt-fail {
	width: 226px;
}
.popup.pt-fail .inner {
	padding: 25px 0;
	background: url(../images/popup_pt_inner_bg.png) center 104px / cover no-repeat #ffffff;
}
.popup.pt-fail .title-block {
	margin-bottom: 15px;
}
.popup.pt-fail .title-block img {
	width: 30px;
}
.popup.pt-fail .title-block h5 {
	margin: 8px 0 6px;	
	font-size: 15px;
	font-weight: 800;
	color: #333333;
}
.popup.pt-fail .title-block p {
	font-size: 10px;
	font-weight: 500;
}
.popup.pt-fail .btn-retry {
	display: block;
	width: 105px;
	height: 29px;
	margin: 0 auto;
	background: #4374a6;
	border-radius: 23px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 700;
}
/*popup*/
@media all and (max-width: 340px) {
	.content.main .btn-group button {
		font-size: 14px;
	}
	.content.main .visual-wrap .text-group {
		top: 17.4%;
	}
	.popup.pt-pass .input-guide-msg {
		margin-left: 45px;
	}
	.popup.pt-pass .terms-block {
		padding-left: 0;
		width: 172px;
		margin: 0 auto 52px;
	}
	.popup.pt-pass .terms-block .terms-group {
	}
	.popup.pt-result .caution-block p br {
		display: block;
	}
	.popup.pt-result .caution-block p span {
		padding-left: 5px;
	}
	.content.game > .wrapper {
		padding-bottom: 80px;
	}
	.content.game > .wrapper .visual-wrap .title-group .object {
		width: 20px;
		margin-bottom: 8px;
	}
	.content.sub > .wrapper .visual-wrap .title-group .text {
		font-size: 14px;
	}
	.content.game > .wrapper .visual-wrap .title-group {
		margin-bottom: 12%;
	}
	.content.game .visual-wrap .game-container .guide-text .text {
		font-size: 14px;
	}
	.content.game .visual-wrap .game-container .guide-line {
		bottom: 70px;
		left: 25%;
		width: 155px;
	}
	.content.game .visual-wrap .game-container .frame .timer {
		width: 50px;
		height: 50px;
	}
	.content.game .visual-wrap .game-container .frame .timer #count img {
		width: 30px;
	}
}

@media all and (min-height: 680px) {
	#container {
		height: 100%;
	}
/*
	.content.main, .content.game, .content.gate {
		height: 100%;
	}
*/
	.content.main,
	.content.sub {
		width: 100%;
		height: 100%;
		display: table;
		table-layout: fixed;
	}
	.content.main .btn-group {
/*		margin: 0 0 0 13%;*/
	}
	.content > .wrapper {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	.content.sub > .wrapper {
		padding-top: 0;
	}
	.content.sub > .wrapper .visual-wrap {
		margin-top: -23%;
	}
	.content.main > .wrapper .visual-wrap {
		margin-top: 0;
	}
	.content.game .pre-layer {
		top: 46px;
		bottom: 109px;
	}
	.content.gate > .wrapper {
		padding: 0;
	}
	.content.sub #footer,
	.content.main #footer {
		margin-top: 0;
		position: fixed;
	}
}