/*
html, body {
     height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Korean", sans-serif;
}
ul {
    list-style: none;
}
*/

button {
    outline: none;
}
.wrap {
    position: relative;
    /* height: 100%; */
    width: 100%;
    min-width: 1207px;
}
.wrap--sub {
	background: url(../images/event2/sub_bg_event2.jpg) 50% -100px;
	background-size: cover;
}
.main-header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.main-header .header-wrap{
    position: relative;
    width: 1207px;
    height: 48px;
    margin: 0 auto;
    padding: 17px 0px;
}
.main-header .header-wrap .header-sns-area{
    width: 100px;
    position: absolute;
    padding: 7px 5px;
    font-size: 0;
}
.main-header .header-wrap .header-sns-area .share_fb_btn{
    width: 34px;
    height: 34px;
    background: url(../images/event2/share_facebook_btn.png);
    border: 0;
    margin-right: 9px;
}
.main-header .header-wrap .header-sns-area .share_ks_btn{
    width: 34px;
    height: 34px;
    background: url(../images/event2/share_kakaostory_btn.png);
    border: 0;
}
/* .main-header .header-wrap .header-sns-area img:first-child{
    margin-right: 9px;
} */
.main-header .header-wrap .header-logo {
    position: absolute;
    right: 0;
    padding: 12px 0px;
}
.main-header .header-wrap .header-navi {
    position: absolute;
    left: 224px;
    height: 48px;
}
.main-header .header-wrap .header-navi .navi1{
    height: 48px;
    width: 208px;
    float: left;
    margin-right: 19px;
    font-size: 0;
    border: 0;
    background: url(../images/event2/header_gnb_button1.png) no-repeat;
}
.main-header .header-wrap .header-navi .navi1 > span{
    font-size: 18px;
	font-weight: 700;
    letter-spacing: -1.7px;
    color: #fefefe;
    margin-bottom: -8px;
}
.main-header .header-wrap .header-navi .navi1 > span:first-child{
    display: inline-block;
    width: 30px;
    height: 30px;
    /* margin-left: 25px;
    margin-top: 9px; */
    margin-top: -3px;
    margin-right: 15px;
    background: url(../images/event2/header_gnb_icon1.png) no-repeat;
}
.main-header .header-wrap .header-navi .navi2{
    height: 48px;
    width: 240px;
    float: left;
    font-size: 0;
    border: 0;
    margin-right: 19px;
    background: url(../images/event2/header_gnb_button2.png) no-repeat;
}
.main-header .header-wrap .header-navi .navi2 > span{
    font-size: 18px;
    color: #fefefe;
	font-weight: 700;
    letter-spacing: -1.7px;
    margin-bottom: -8px;
}
.main-header .header-wrap .header-navi .navi2 > span:first-child{
    display: inline-block;
    width: 29px;
    height: 31px;
    /* margin-left: 27px; */
    /* margin-top: 8px; */
    margin-top: -3px;
    margin-right: 20px;
    background: url(../images/event2/header_gnb_icon2.png) no-repeat;
}
.main-header .header-wrap .header-navi .navi3{
    height: 48px;
    width: 240px;
    float: left;
    font-size: 0;
    border: 0;
    margin-right: 50px;
    background: url(../images/event2/header_gnb_button3.png) no-repeat;
}
.main-header .header-wrap .header-navi .navi3 > span{
    font-size: 18px;
    color: #fefefe;
    font-weight: 700;
    letter-spacing: -1.7px;
    margin-bottom: -8px;
}
.main-header .header-wrap .header-navi .navi3 > span:first-child{
    display: inline-block;
    width: 29px;
    height: 31px;
    /* margin-left: 27px;
    margin-top: 8px; */
    margin-top: -3px;
    margin-right: 20px;
    background: url(../images/event2/header_gnb_icon3.png) no-repeat;
}
.main-section1 {
    /* position: absolute; */
    width: 100%;
    /* height: 1032px; */
    /* background: url(../images/event2/main_section1_bg.png) no-repeat center top; */
    /* background-size: contain; */
}
.main-section1 .section1-wrap{
    position: relative;
    /* width: 1207px; */
    /* height: 100%; */
    margin: 0 auto;
}
.main-section1 .section1-wrap .give_kit{
    position: absolute;
    /* top: 703px;
    left: 700px; */
    left: 50%;
    top: 50%;
    margin-left: -13.7%;
    margin-top: 10%;
    /* margin-top: 149px; */
    /* width: 257px;
    height: 298px; */
    /* width: 257px; */
    width: 13.38%;
    padding-bottom: 15.5%;
    /* height: 298px; */
    background: url(../images/event2/main_section1_start_off.png) no-repeat;
    background-size: cover;
    border: 0;
	-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}
.main-section1 .section1-wrap .give_kit:hover,
.main-section1 .section1-wrap .give_kit:focus {
    /* left: 50%;
    top: 50%; */
    margin-top: 8%;
    background: url(../images/event2/main_section1_start_on.png) no-repeat;
	background-size: cover;
    /* border: 0; */
}
.main-section1 .section1-wrap .kit-image {
    position: absolute;
    right: -294px;
    top: 435px;
}

.main-section2 {
    position: relative;
    background: #fbedef;
    width: 100% ;
    height:4013px;
}
.main-section2 .section2-wrap{
    position: relative;
    width: 1207px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-section2 .section2-wrap .title{
    /* position: absolute; */
    padding-top: 156px;
    margin: 0 auto;
}
.main-section2 .section2-wrap .title2{
    /* position: absolute; */
    padding-top: 292px;
    margin: 0 auto;
    padding-bottom: 51px;
}
.main-section2 .section2-wrap .title .sub-title1{
    font-size: 60px;
    color: #e30061;
    letter-spacing: -3.6px;
	font-weight: 700;
}
.main-section2 .section2-wrap .title .sub-title2{
    font-size: 60px;
    letter-spacing: -3.6px;
    font-weight: 300;
    color: #333333;
}
.main-section2 .section2-wrap .title .sub-title3{
    font-size: 35px;
    letter-spacing: -1.8px;
    font-weight: 300;
    color: #333333;
}
.main-section2 .section2-wrap .title .sub-title3 span{
    font-weight: 500;
}
.main-section2 .section2-wrap .title2 .sub-title1{
    font-size: 60px;
    color: #e30061;
    letter-spacing: -3.6px;
}
.main-section2 .section2-wrap .title2 .sub-title2{
    font-size: 32px;
    letter-spacing: -3.6px;
    color: #595757;
}
.main-section2 .section2-wrap .kit-image{
    width: 792px;
    margin: 0 auto;
}
.main-section2 .section2-wrap .section2-notice{
    margin-top: -70px;
    font-size: 24px;
	color: #333333;
    letter-spacing: -1px;
	opacity: 0.8;
}
.main-section2 .section2-wrap .section2-notice .gift-info{
    background: url(../images/event2/gift_info_btn.png) center;
    width: 355px;
    height: 74px;
}
.main-section2 .section2-wrap .section2-notice ul{
    margin-bottom: 16px;
}
.main-section2 .section2-wrap .section2-notice ul li {
	font-size: 24px;
    font-weight: 200;
    color: #333333;
}
.main-section2 .section2-wrap .section2-notice2{
    position: absolute;
    left: 0;
    text-align: left;
}
.main-section2 .section2-wrap .section2-notice2 div{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 17px;
    color: #434343;
}
.main-section2 .section2-wrap .section2-notice2 ul{
    font-size: 24px;
    font-weight: 200;
    padding-left: 20px;
    margin-top: 5px;
    color: #464646;
}
.main-section2 .section2-wrap .section2-notice div{
    font-weight: 700;
    color: #333333;
}
.main-section2 .section2-wrap .section2-use-text {
    font-size: 40px;
    text-align: left;
    color: #434343;
    margin: 70px 0 16px 33px;
}
.main-section2 .section2-wrap .section2-use-text.exam {
    font-size: 40px;
    margin-top: 34px;
    text-align: left;
	color: #434343;
}
.main-section2 .section2-wrap .section2-best-content {
    position: relative;
    background: #fff;
    width: 1207px;
    height: 606px;
}
.main-section2 .section2-wrap .best_flag {
    position: absolute;
    width: 113px;
    z-index: 9;
    margin-top: -26px
}
/* .main-section2 .section2-wrap .section2-best-content .best_flag{
    position: absolute;
    z-index: 3;
    left: 18px;
    top: -25px;
} */
.main-section2 .section2-wrap .section2-best-content .image_area{
    position: absolute;
    width: 560px;
    margin: 21px;
}
.main-section2 .section2-wrap .section2-best-content .content_area{
    position: absolute;
    width: 560px;
    right: 0;
    /* height: 130px; */
}
.main-section2 .section2-wrap .section2-best-content .content_area .profile_area{
    width: 498px;
    height: 130px;
    border-width: 2px;
    border-bottom-width:2px;
    border-bottom-color:#e4e4e4;
    border-bottom-style: solid;
}
.main-section2 .section2-wrap .section2-best-content .content_area .profile_area img{
    float: left;
    margin-top: 30px;
    margin-left: 45px;
    border-radius: 34px;
}
.main-section2 .section2-wrap .section2-best-content .content_area .profile_area span{
    float: left;
    font-size: 32px;
    margin-top: 47px;
    margin-left: 24px;
    color: #595757;
}
.main-section2 .section2-wrap .section2-best-content .content_area .desc_area{
    width: 455px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 35px;
    text-align: left;
    letter-spacing: -4px;
    color: #595757;
}
.main-section2 .section2-wrap .section2-best-content .content_area .color_area{
    width: 12px;
    height: 130px;
    background: #7a5997;
    position: absolute;
    top: 0;
    right: 0;
}
.main-section2 .section2-wrap .section2-best-content .arrow_area{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 14px;
    margin-right: 49px;
    z-index: 5;
    width: 141px;
}
.main-section2 .section2-wrap .section2-best-content .arrow_area .button-prev{
    float: left;
    width: 63px;
    height: 62px;
    margin-right: 13px;
    border: 0;
    background: url(../images/event2/best_prev_arrow.png);
    /* cursor: pointer; */
}
.main-section2 .section2-wrap .section2-best-content .arrow_area .button-next{
    float: left;
    width: 63px;
    height: 62px;
    border: 0;
    background: url(../images/event2/best_next_arrow.png);
    /* cursor: pointer; */
}
.main-section2 .section2-wrap .section2-best-content img{
    margin-right: 13px;
}
.main-section3 {
    /* height: 500px; */
}
.main-section3 .section3-wrap{
    position: relative;
    width: 1207px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    top: -293px;
}
.main-section3 .section3-wrap .title{
}
.main-section3 .section3-wrap .title span{
	display: inline-block;
    font-size: 60px;
	padding: 0 16px 5px;
    background: #ff0063;
    color: #fff;
    margin-right: 29px;
}
.main-section3 .section3-wrap .title span:last-child {
	margin-right: 0;
}
.main-section3 .section3-wrap .sub_title{
    display: inline-block;
    font-size: 35px;
    color: #595757;
    margin: 20px 0 40px;
}
.main-section3 .section3-wrap .iframe_area{
    /* height: 500px;
    background: skyblue; */
}
.main-footer {
    background: #ff0063;
    height: 155px;
}

.wrap--sub .c-content__aligner {
	width: 1000px;
	margin: 0 auto;
}
.wrap--sub .c-content__aligner .video-wrapper {
	text-align: center;
	padding: 83px 0 70px;
}
.wrap--sub .c-content__aligner .video-wrapper .video {
	background: url(../images/event2/sub_video_background.png);
	background-size: cover;
	padding: 12px;
	width: 992px;
	margin: 55px auto 0;
	box-sizing: border-box;
}


.c-footer {
	padding: 30px 0;
	background-color: #e30061;
}
.c-footer__aligner {
	width: 899px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.c-footer__list {
	font-size: 0;
	text-align: center;
}
.c-footer__list + .c-footer__list {
	margin-top: 5px;
}
.c-footer__list > li {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 13px;
}
.c-footer__list > li + li {
	padding-left: 10px;
	margin-left: 8px;
}
.c-footer__list > li + li:before {
	content: " ";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 13px;
	background-color: #fff;
	 -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.c-footer__list > li > a {
	display: inline-block;
	color: #fff;
	font-size: 13px;
}
.copyright {
	margin-top: 10px;
	color: #fff;
	font-size: 12px;
}

